<!DOCTYPE html>
<html lang="en">
<head>
  <title></title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <style>
  .navbar {
      font-family: Montserrat, sans-serif;
      margin-bottom: 0;
      background-color: #8ab92d;
      border: 0;
      font-size: 11px !important;
      letter-spacing: 4px;
      opacity: 0.9;
      margin-top: 0px;
  }

  .navbar li a, .navbar .navbar-brand {
      color: #333333 !important; /*#1a1a1a*/
       font-weight: bolder;
       font-size: 16px;
       font-family: Arial;
  }

  </style>
</head>
<body id="myPage" data-spy="scroll" data-target=".navbar" data-offset="50">

<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#myPage">VETGO</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#myPage">HOME</a></li>
        <li><a href="#services">SERVICES</a></li>
        <li><a href="#about">ABOUT</a></li>
        <li><a href="#contact">CONTACT</a></li>
        <li><a href="#"><span class="glyphicon glyphicon-search"></span></a></li>
      </ul>
    </div>
  </div>
</nav>

<div id="myCarousel" class="carousel slide" data-ride="carousel">
  <div class="section">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <%= image_tag("/assets/938.jpg", alt: "San Francisco")%>
      <div class="carousel-caption">
        <!-- <h3>San Francisco</h3>
        <p>The clinic in San Francisco is lorem ipsum.</p> -->
      </div>
    </div>
  </div>
  <!-- <div class="item">
      <%= image_tag("/assets/golden-retriever-2962926_1280.jpg", alt: "Palo Alto")%>
    <div class="carousel-caption">
      <h3>Palo Alto</h3>
      <p>Thank you, Palo Alto - A day we won't forget.</p>
    </div>
  </div>
  </div> -->

    <!-- Left and right controls -->
  <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>


<!-- Container (basic info) -->
<div class="columns">
  <div class="container vertical-divider">
    <div class="column one-third">
      <div align="center">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <i class="fa fa-rocket" style="font-size:48px;color:#00aced"></i>
        <h2>Fast Response Car</h2>
        <p>VetGo offers cutting-edge medical transportation services, medical equipment and the highest trained, best experienced veterinarians</p>
      </div>
    </div>
    <div class="column one-third">
      <div align="center">
        <i class="fa fa-check-square-o" style="font-size:48px;color:#00aced"></i>
        <h2>Follow-up visits</h2>
        <p>It's critical to keep all recommended follow-up appointments so that our veterinarian can monitor your pet's progress.</p>
      </div>
    </div>
    <div class="column one-third">
      <div align="center">
        <i class="fa fa-medkit" style="font-size:48px;color:#00aced"></i>
        <h2>Very Little Text</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sit amet vestibulum libero.</p>
      </div>
    </div>
  </div>
</div>
  <div align="center">
    <div class="block_1 hline-bottom"></div>
    <h2>To schedule an appointment call 702-319-1759</h2>
    <br><br>
  </div>
  </div>
</div>

<!-- Container (TOUR Section) -->
<div id="services" class="bg-1">
  <div class="section">
  <div class="container">
      <h3 class="text-center">SERVICES</h3>
    <p class="text-center">Veterinary Price List</p>

<div class="row">
  <div class="col-sm-6">
    <table class="table table-sm">
    <thead>
    <tr>
      <th scope="col">Services</th>
      <div style="text-align:right"><th scope="col">Fee</th></div>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>Housecall/Physical Exam/Consultation (with vaccinations)</td>
      <td>$45</td>
    </tr>
    <tr>
      <td>Housecall/Physical Exam/Consultation (NO vaccinations)</td>
      <td>$70</td>
    </tr>
    <tr>
      <td>Housecall with EXTENDED Consultation/Exam</td>
      <td>$125</td>
    </tr>
    <tr>
      <td>Brief Follow-up Exam</td>
      <td>$40</td>
    </tr>
    <tr>
      <td>Puppy/Kitten Exam</td>
      <td>$35</td>
    </tr>
    </tbody>
    </table>
    <br><br>

    <table class="table table-sm">
    <thead>
    <tr>
      <th scope="col">Feline Vaccines</th>
      <div style="text-align:right"><th scope="col">Fee</th></div>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>Rabies (RV) - One-year</td>
      <td>$28</td>
    </tr>
    <tr>
      <td>Rabies (RV) - Three-year</td>
      <td>$48</td>
    </tr>
    <tr>
      <td>Feline Distemper (FVRCCP)</td>
      <td>$28</td>
    </tr>
    <tr>
      <td>Feline Leukemia (FELV)</td>
      <td>$26</td>
    </tr>
    </tbody>
    </table>
    <br><br><br><br>
  </div>
  <div class="col-sm-6"><table class="table table-sm">
    <thead>
      <tr>
        <th scope="col">Canine Vaccines</th>
        <th scope="col">Fee</th>
      </tr>
    </thead>
    <tbody>
    <tr>
      <td>Rabies (RV) - One-year</td>
      <td>$22</td>
    </tr>
    <tr>
      <td>Rabies (RV) - Three-year</td>
      <td>$48</td>
    </tr>
    <tr>
      <td>DHLPP (Distemper/Hepatitis/Leptospirosis/Parvovirus/Para-influenza)</td>
      <td>$28</td>
    </tr>
    <tr>
      <td>Lyme Disease (Lyme)</td>
      <td>$24</td>
    </tr>
    <tr>
      <td>Bordetella/Kennel Cough</td>
      <td>$25</td>
    </tr>
    </tbody>
    </table>
  </div>
</div>


    <!-- <div class=" col-md-4 col-sm-12 well pull-right-lg" style="border:0px solid"> -->
  </div>
</div>
</div>

<!-- Container (The Band Section) -->
<div id="about" class="container text-center">
  <div class="section">
    <h3 class="text-center">VETGO</h3>
  <p><em>We love pets!</em></p>
  <p>We have created a fictional pet clinic website. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
  <br>
  <div class="row">
    <div class="col-sm-4">
      <p class="text-center"><strong>Omid</strong></p><br>
      <a href="#demo" data-toggle="collapse">
        <%= image_tag("/assets/IMG_6815.jpg", alt: "Random Name", class: "img-circle person", width: "255", height: "255")%>
      </a>
      <div id="demo" class="collapse">
        <p>Guitarist and Lead Vocalist</p>
        <p>Loves long walks on the beach</p>
        <p>Member since 1988</p>
      </div>
    </div>
    <div class="col-sm-4">
      <p class="text-center"><strong>Sergey</strong></p><br>
      <a href="#demo2" data-toggle="collapse">
        <%= image_tag("/assets/IMG_0035.jpg", alt: "Random Name", class: "img-circle person", width: "255", height: "255")%>
      </a>
      <div id="demo2" class="collapse">
        <p>Drummer</p>
        <p>Loves drummin'</p>
        <p>Member since 1988</p>
      </div>
    </div>
    <div class="col-sm-4">
      <p class="text-center"><strong>Name</strong></p><br>
      <a href="#demo3" data-toggle="collapse">
        <img src="bandmember.jpg" class="img-circle person" alt="Random Name" width="255" height="255">
      </a>
      <div id="demo3" class="collapse">
        <p>Bass player</p>
        <p>Loves math</p>
        <p>Member since 2005</p>
      </div>
    </div>
  </div>
</div>
</div>
<!-- Container (Contact Section) -->
<div id="contact" class="container">
  <div class="section">
  <h3 class="text-center">CONTACT</h3>
  <p class="text-center"><em>We love your feedback!</em></p>

  <div class="row">
    <div class="col-md-4">
      <div class="address">
      <p>Fan? Drop a note.</p>
      <p><span class="glyphicon glyphicon-map-marker"></span>San Francisco, US</p>
      <p><span class="glyphicon glyphicon-phone"></span>Phone: 702-319-1759</p>
      <p><span class="glyphicon glyphicon-envelope"></span>Email: mail@mail.com</p>
    </div>
    </div>
    <div class="col-md-8">
      <div class="row">
        <div class="col-sm-6 form-group">
          <input class="form-control" id="name" name="name" placeholder="Name" type="text" required>
        </div>
        <div class="col-sm-6 form-group">
          <input class="form-control" id="email" name="email" placeholder="Email" type="email" required>
        </div>
      </div>
      <textarea class="form-control" id="comments" name="comments" placeholder="Comment" rows="5"></textarea>
      <br>
      <div class="row">
        <div class="col-md-12 form-group">
          <button class="btn pull-right" type="submit">Send</button>
        </div>
      </div>
    </div>
  </div>
  <br>
</div>
</div>

<!-- Add Google Maps -->
<style>
      #map {
        height: 50%;
      }
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
</style>


<body>
    <div id="map"></div>
    <script>
      // This example creates circles on the map, representing populations in North
      // America.

      // First, create an object containing LatLng and population for each city.
      var citymap = {
        san_francisco: {
          center: {lat: 37.6138, lng:  -122.48692},
          population: 603502
        }
      };

      function initMap() {
        // Create the map.
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 10,
          center: {lat: 37.6138, lng:  -122.48692},
          mapTypeId: 'terrain'
        });

        // Construct the circle for each value in citymap.
        // Note: We scale the area of the circle based on the population.
        for (var city in citymap) {
          // Add the circle for this city to the map.
          var cityCircle = new google.maps.Circle({
            strokeColor: '#FF0000',
            strokeOpacity: 0.8,
            strokeWeight: 1,
            fillColor: '#FF0000',
            fillOpacity: 0.15,
            map: map,
            center: citymap[city].center,
            radius: Math.sqrt(citymap[city].population) * 10
          });
        }
      }
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBZg8DNElVYnIRQ2h994eBUy8aXt4dJlDw&callback=initMap">
    </script>
  </body>




<!--
To use this code on your website, get a free API key from Google.
Read more at: https://www.w3schools.com/graphics/google_maps_basic.asp
-->

<!-- Footer -->
<footer class="text-center">
  <a class="up-arrow" href="#myPage" data-toggle="tooltip" title="TO TOP">
    <span class="glyphicon glyphicon-chevron-up"></span>
  </a><br><br>
  <p>Made By <a href="https://www.turing.io/alumni/sergey-lukyanenko" data-toggle="tooltip" title="Visit">Sergey Lukyanenko</a></p>
</footer>

<script>
$(document).ready(function(){
  // Initialize Tooltip
  $('[data-toggle="tooltip"]').tooltip();

  // Add smooth scrolling to all links in navbar + footer link
  $(".navbar a, footer a[href='#myPage']").on('click', function(event) {

    // Make sure this.hash has a value before overriding default behavior
    if (this.hash !== "") {

      // Prevent default anchor click behavior
      event.preventDefault();

      // Store hash
      var hash = this.hash;

      // Using jQuery's animate() method to add smooth page scroll
      // The optional number (900) specifies the number of milliseconds it takes to scroll to the specified area
      $('html, body').animate({
        scrollTop: $(hash).offset().top
      }, 900, function(){

        // Add hash (#) to URL when done scrolling (default click behavior)
        window.location.hash = hash;
      });
    } // End if
  });
})
</script>

</body>
</html>
